### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.slcache
target
out
gen
*.iws
*Db.properties
*Db.script
.settings
.classpath
.project
eclipse
stacktrace.log
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
web-app/WEB-INF/tld/c.tld
web-app/WEB-INF/tld/fmt.tld

# Created by .ignore support plugin (hsz.mobi)
